 .box{
    border-style: solid;
    border-color: blue;
    width:90px;
    height: 90px;
    display: inline-block;
    text-align: center;
 }
 .box1{
    position:static;

  }
  .box2{
    position:absolute;
    bottom:130px;
    right: 180px;
  }
  body{
    height: 200vh;;
  }
  .container
  {
    top: 150px;
  }